*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

header{
  display: relative;
}


.preloader-img{
  position: fixed;
  height:100%;
  width: 100%;
  z-index: 999;
}
.hide-img{
z-index: -999;
visibility: hidden;
}
.mainVid{
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.content{
  position: fixed;
  top:50%;
  left:50%;
  z-index: 9;
}
.content h1 {
  font-size: 64px;
  color: white;
}

#overlay{ 
  position:fixed; /* Sits on top of the page content */ 
  width: 100%; /* we want to cover the whole page */
  height: 100%; /* we want to cover the whole page*/ 

  top: 0; /* we want to position the over from the top at 0 */ 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2;

}

#controlBtn{
  font-size: 16px;
  position: fixed;
  padding: 10px;
  top: 85%;
  left: 5%;
  z-index: 2;
}
